.aboutPage {
  width: 100%;
  background-color: #e3f2fd;
  padding: 40px 60px;
  box-sizing: border-box;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.contentContainer {
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
}

.contentText {
  font-size: 14px;
  color: #424242;
  margin: 0;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}



