.navigation {
  width: 100%;
  background-color: #e3f2fd;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
}

.navContainer {
  display: flex;
  align-items: center;
  max-width: 92%;
  margin: 0 auto;
  padding: 0 60px;
  gap: 0;
}

.navItem {
  padding: 16px 24px;
  text-decoration: none;
  color: #424242;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s;
  border-bottom: 3px solid transparent;
  text-align: center;


  &.active {
    color: #424242;
    border-bottom: 3px solid #c44569;
  }
}

